@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/



.background-wrapper{
  background-image: url("bg.jpg");
  height: 400px;
}

input[type=text],
input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#home-log-in{
  margin: 0 auto; 
  padding-top: 80px;
  text-align: center;
}

#home-log-in > h2{
  font-size: 25px;
  color: #fff;
}

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


/********************************************/

#final_price > h2{
  
}

.white{
  color: #fff;
}

#rounded-border{
  border: 2px solid #4ABDAC;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
}

#rounded-border-not{
  border: 1px solid #4ABDAC;
  border-radius: 2px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#fresh{
  color: #4ABDAC;
}

.sunshine{
  color: #F7B733;
}

.sunshine-bg{
  background-color: #F7B733;
}

h2 > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

h2 > a:hover {
  color: #1c4d46;
}

h2 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4ABDAC;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h2 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#logo > a >img{
  width: 20%;
  margin-bottom:10px;
}

#one-row-index{
  border: 1px solid lightgray;
  padding: 5px 5px 5px 5px;
}

#notification_name{
  color: #4ABDAC;
}

.red{
  color: #FC4A1A;
}

#notification_picture > img{
  padding-left: 10px;
}

#notification_name > p{
  color: black;
}

#notification-main-title{
  text-align: center;
  border: 1px solid #F7B733;
  padding: 5px 5px 5px 5px;
  border-radius: 2px;
}

#notification-container{
  width: 350px;
  margin-right: 10px;
  margin-left: 10px;
}

body {
    max-width: 960px;
    margin: 0 auto;
}

h3 {
    font-size: 20px;
}

h2{
  text-align: center;
  font-size: 20px;
}

#error > h3{
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 10px solid #F7B733;
    background-color: #DFDCE3;
}

#success > h3{
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 10px solid #F7B733;
    background-color: #4ABDAC;
    color: #fff;
}

#list-of-users > h3{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
    background-color: #4ABDAC;
}

#registration > h3{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
    background-color: #4ABDAC;
}

#login > input[type=text],
#login > input[type=password],
#info-for-change > input[type=text],
#info-for-change > #personal_input > input[type=text],
#info-for-change > #personal_input > select,
#info-for-change > select,
textarea,
#info-for-change > input[type=password],
#info-for-change > #personal_input > input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

textarea{
    max-width: 100%;
    max-height: 100%;
}

#info-for-change > input[type=text]:focus, 
#info-for-change > input[type=password]:focus,
#login > input[type=text]:focus, 
#login > input[type=password]:focus,
#info-for-change > #personal_input > input[type=text]:focus,
#info-for-change > #personal_input > select:focus,
#info-for-change > select:focus,
textarea:focus,
#info-for-change > #personal_input > input[type=password]:focus {
    border: 3px solid #555;
}

#info-for-change > h3,
#info-for-change > h4{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FC4A1A;
    color: #fff;
    text-align: center;
}

.w3-btn,
.w3-btn-block{
  border:none;
  display:inline-block;
  outline:0;
  padding:6px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none!important;
  color:#fff;
  background-color:#F7B733;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  margin: 0 0 10px 0;
}

.w3-btn:hover,
.w3-btn-block:hover{
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.w3-btn-block,
.w3-btn-block-smaller{
    text-align: center;
    overflow: hidden;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    width: 100%;
    border: none;
    vertical-align: middle;
    white-space: nowrap;
    outline: 0;
    padding: 10px 16px 10px;
    margin: 10px 0 10px 0;
    text-decoration: none !important;
    background-color: #000;
}

.w3-btn-block-smaller{
  margin: 0 0 0 0;
}

.w3-btn-block-smaller{
    padding: 5px 8px 5px;
}

.w3-btn-block:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.w3-teal,
.w3-hover-teal:hover{
    background-color: #F7B733 !important
}

.w3-sunshine,
.w3-hover-sunshine:hover{
    background-color: #F7B733 !important
}

.w3-fresh,
.w3-hover-fresh:hover{
    background-color: #4ABDAC !important
}

.w3-red,
.w3-hover-red:hover{
    background-color: #f44336 !important
}

#change_info > h3{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4ABDAC;
    color: #fff;
    text-align: center;
}

footer{
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: #F8F8F8;
}

footer p{
  margin: 0 0 0 0;
}

.radio,
.radio-block{
  padding-top: 10px;
}

.radio > h4,
.radio-block > h4{
  padding-bottom: 10px;
}

.radio > label,
.radio-block > label{
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 16px;
}

.radio-block > label{
  display: block;
  font-weight: 400;
}

.radio > input[type=radio],
.radio-block > input[type=radio]{
  display: none;
}

.radio > label:before,
.radio-block > label:before{
  content: "";
  display: inline-block;
 
  width: 20px;
  height: 20px;
 
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #aaa;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.radio label:before,
.radio-block label:before{
  border-radius: 8px;
}

.radio > input[type=radio]:checked + label:before,
.radio-block > input[type=radio]:checked + label:before{ 
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 20px;
}

#required_fields{
    color: red;
}

#vermillion{
    color: #FC4A1A;
}

#sunshine{
    background-color: #fff;
    padding: 5px 5px 5px 5px;
    color: #F7B733;
}

.w3-card-2 {
  padding: 10px 10px 10px 10px;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
}

.w3-container:after {
  content:"";
  display:table;
  clear:both
}

.w3-center {
  text-align:center!important
}

#delivery-time > label,
#delivery-time > #padding-label > label{
  padding-right: 15px;
}

#padding-label {
  display: block;
  padding-top: 10px;
}

#unverified{
  color: #f44336;
  text-align: center;
}

#verified{
  color: #4ABDAC;
  text-align: center;
}

/*****************************************************/

.container_automatic {
  width: 120px;
}

.switch {
  position: relative;
  margin: 20px auto;
  height: 26px;
  width: 120px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}
 
.switch-label {
  position: relative;
  z-index: 2;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
}
 
.switch-label:active {
  font-weight: bold;
}
 
.switch-label-off {
  padding-left: 2px;
}
 
.switch-label-on {
  padding-right: 2px;
}
 
.switch-input {
  display: none;
}
 
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  color: #fff;
  background-color: #4ABDAC;
}
 
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 60px;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

a:hover {
    text-decoration: none;
}

@media (max-width: 1100px) {
    #logo > a >img{
      width: 40%;
    }
    input[type=text],
    input[type=password] {
        width: 40%;
    }
}